@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
}

body {
    background-color: #d1c4e9;
}

nav ul li:hover {
    color: #a02727;
}




.nav-brand img {
    width: 100px;
}

.missing h1,
p {
    color: #434b5d !important;
}

.nav-link {
    font-family: 'Oswald';
    font-size: 1.3em;
    color: #fff;
}

.logged-out-container {
    height: 600px;
}

.modal {
    top: 5% !important;
    max-height: 90% !important;
    background-color: #fff9ff;
}

h4 {
    font-family: Verdana, Arial, Helvetica, sans-serif;

    font-weight: 800;
    font-size: 36px;
    line-height: 1.4em;
    color: #7e57c2;
    text-align: center;
}




.missing-list-title {
    font-size: 2.8em;
    font-weight: 600;
    text-align: center;
    margin: 60px auto;
}

.card-img {
    width: 100%;
    height: 100%;
}

.missing-img {
    width: 290px !important;
    height: 300px;
}

.missing-name {
    font-size: 2.6em;
    font-weight: 500;
    margin: 0;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 1.2em;
    font-weight: 400;
}

.banner {
    background-color: #c6d9eb5b;
    height: 100%;
}

.banner .row {
    margin-bottom: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 100px;
}

.banner-img {
    margin: auto;
    width: 100%;
}

.banner-right {
    font-family: 'Montserrat';
    color: #434b5d;
    text-align: center;
}

.banner-right h1 {
    font-size: 2.5em;
    font-weight: 800;
}

.banner-right h2 {
    font-size: 2em;
    font-weight: 500;
}

.banner-right p {
    font-size: 1.5em;
    font-weight: 700;
}